<p id="notice">
	<%= notice %> <!--サクセスメッセージ-->
</p>
<p>
	<strong>Title:</strong>
	<%= @book.title %>
</p>
<p>
	<strong>Body:</strong>
	<%= @book.body %>
</p>

<div class="link">
	<p>
		<%= link_to 'edit', edit_book_path(@book.id) %>
		 |
		<%= link_to 'Back', "/books" %>
	</p>
</div>
